body {
    background: palevioletred;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}

header, footer {
    grid-column: 1 / 4;
}

main {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
}

section {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}